@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px;
}

.display-job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 15px;
  border: 3px solid black;
  border-radius: 10px;
}

.display-job:hover {

  border: 3px solid red;

}

.heatMap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.heatMap button{
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: orange;
  font-weight: bold;
}

.heatMap button:hover{
  background-color: red;
  color: white;
}

.mapsAndIndex {
  display: flex;
  flex-direction: line;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
  height: 800px;
  padding: 8px;
  border: 3px solid brown;

}

.display-google-maps {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 40%;
  display: flex;
  height: 70%;
  height: auto;

  margin-top: 10px;
}

.displayIndex {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  height: 30%;
  height: auto;
  border: green 3px solid;
}

.top-nav-container {
  flex-direction: row;
  width: auto;
  height: auto;
}

.top-nav-search-bar-section {
  float: left;
  width: auto;
  margin-left: 20px;
  height: auto;
}

.top-nav-filter-section {
  display: flex;
  left: 2%;
  border-radius: 4px;
  background-color: #3b8dcf;
}

.top-nav-filter-section img{
  height: 10%; 
  width: 10%; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  padding-right: 10px;
}

.top-nav-submit-button {
  padding-left: 100px;
  padding-bottom: 10px;
  float: right;
  padding-right: 210px;
  cursor: default;
}

.city-filter-input {
  padding-top: 45px;
  padding-left: 50px;
  float: right;
}

.jobTitle {
  height: auto;
  display: flex;
  width: 100%;
  color: white;
}

.submit-button {
  float: right;
  color: white;
  background-color: green;
  outline: none;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: white 2px solid;
}

.submit-button:hover{
  opacity: 70%;
}

.submit-button:focus{
  outline: none;
}

.job-type-input {
  padding-top: 40px;
  padding-left: 50px;
  float: left;
}

#job-text {
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 5px;
}

.job-type-input select {
  background-color: white;
  color: #3b8dcf;
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.job-type-input select option {
  padding: 30px;
}

.submit-button {
  float: right;
}

.jobTitle {
  display: flex;
  width: 100%;
}

.min-input {
  background-color: white;
  color: #3b8dcf;
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

img {
  width: 110px;
  height: 110px;
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  color: white;
}

.description {
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  border: white solid 3px;
  border-radius: 15px;
  color: black;
  width: 70%;
  background-color: lightblue;
  height: auto;


}

.description p {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;

}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  border: white solid 3px;
  border-radius: 15px;
  color: black;
  background-color: lightblue;
  font: bold;
  height: auto;

}

.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid green;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  background: green;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border: none;
}

/*Resize the wrap to see the search bar change!*/
.top-nav-search-section {
  height: 100%;
  width: 30;
}

#jobsHandler {
  width: 70%;

  height: 720px;
  overflow-y: auto;
}

.valeurIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 25px;
}

.apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  background-color: white;
  margin: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 5px 5px 5px #888888;
}

.apply:hover {
  opacity: 50%;
  text-decoration: none;
  background-color: #E74C3C;
  COLOR: white
}

<<<<<<< HEAD
.container3{
  margin-top: 20px;
=======
.displayDescriptionPlusIndex {
>>>>>>> 96ebd32b82114be3cbc3752a5bae701c876f4098
  display: flex;
  justify-content: center;
  width: 80%;
  /* border-radius: 10px;
  background-color: lightblue; */
  margin: 5px;

}


#divIndexes{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
  margin-top: 20px;
  width: 100%;
  overflow-y: auto;
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 10px;
}

.indexesContainer{
  width: 80%;
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexContainer{

  width: 100%;
  height: auto;
  display: flex;
}

.indexNameContainer{
  width: 70%;
  color: black;
  background-color: lightblue;
  margin: 5px;
  font-weight: bold;
}

.indexValueContainer{
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  margin: 5px;
}